doctype html
html.no-js
    head
        title TODOs | A Progressive Webapp
        script.
            document.documentElement.className = "js";
        link(rel="stylesheet", href="/stylesheets/style.css")
    body
        main
            block content
        script(src="//cdn.jsdelivr.net/pouchdb/5.1.0/pouchdb.min.js")
        script.
            var apiKey = "#{apiKey}";
            var apiPassword = "#{apiPassword}";
            var listID = "#{listID}";
            var dbURL = "#{dbURL}";
        script(src="/javascripts/app.js")       
    
